<h1>Log In Below:</h1>

<form method="post" action="/sessions">
User Password: <input type="text" name="password" id="password">
<br>
User Email: <input type="text" name="email" id="email">

<input type="submit" value="Log In">
</form>
