<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
User Name: <input type="text" name="name" id="name">
User Password: <input type="text" name="password" id="password">
User Email: <input type="text" name="email" id="email">
<input type="submit" value="Sign Up">
</form>
